/* Variables base */
:root {
  --background: white;
  --foreground: #333333;
  --color-primary: #AA7BCA;
  --color-accent: #872899;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.ag-paging-page-size {
  display: none !important;
}
.cell-non-editable {
  background-color: #ffffff;
}

.cell-modified {
  background-color: #ffffff;
}
